node_modules

*.html
!backend/*.html
config.js
config.php

backend/uploads/*/*
!backend/uploads/*/.gitkeep

backend/application/config/config.php

backend/application/controllers/*
!backend/application/controllers/IDCardController.php
!backend/application/controllers/UserController.php

backend/application/models/*
!backend/application/models/IDCard.php
!backend/application/models/User.php